<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue.js Intro</title>
</head>
<body>
    <!-- Vue tendrá control absoluto de este div -->

    <div id="myApp">
        <h1>Batman quotes</h1>
        <small>{{newQuote}}</small>

        <!-- v-on es para escuchar un evento, presionar una tecla en este caso -->
        <input type="text" v-model="newQuote" v-on:keypress.enter="addQuote">

        <hr>

        <ul>
            <!-- v-for es parecido a un ciclo for que duplicara segun la condicion que se diga -->
            <li v-for="({quote, author},index) in quotes">
                <!-- Suma 1 para no mostrar el 0 -->
                <span>{{index + 1}} - {{quote}}</span>
                <blockquote>-{{author}}</blockquote>
            </li>
        </ul>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>  
</body>
</html>